{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "dynamicImport": true,
      "decorators": false
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
    "target": "es2022",
    "loose": false,
    "externalHelpers": false,
    "keepClassNames": true
  },
  "module": {
    "type": "es6",
    "noInterop": false
  },
  "minify": true,
  "env": {
    "targets": {
      "chrome": "92",
      "edge": "92",
      "firefox": "90",
      "safari": "15.4"
    },
    "mode": "usage",
    "coreJs": false
  }
}